@import url(global.css);
.cabeca{
     height: 85px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
        }
#rediresona{
     text-decoration: none;
     display: flex;
     padding: 15px;
     gap: 10px;
     flex: 1; 
     color: #FFF;
        }
#rediresona:hover{
     color: #00BAB4;
     text-decoration: underline;
}
main{
     /*display: flex;*/   
     padding: 10px;
     background-color: #ececec;
     border-radius: 16px;
     justify-content: space-between;
        }

#ilustr{
     margin-right: auto;
     height: 350px;
     border-radius: 16px;
}
#texto{ 
     margin-top: 25px;     
     padding: 15px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}
#texto p{
     font:var(--fonte-family);
     font-size: 19px;
}
#imagem{ 
     margin-top: 25px;
     display: grid;
     place-items: center;
     justify-content: center; 
     align-items: center;    
     padding: 15px;
     
}
#barra{
     background-color: var(--background-barra);   
     height: 60px;
     border-radius: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
}
#name{
     height: 45px;
}
#brr{
     list-style: none;
     display: flex;
     align-items: center;
}
#icons{
     height: 45px;
     display: flex;
     gap: 20px;
     padding: 10px;
}
#info{
     margin-top: 20px;
     display: grid;
     grid-column: 1/3; 
     row-gap: 20px;
}
.cart p{
     font:var(--fonte-family);
     font-size: 19px;
     text-align: center;
}
/*Criando um card para colocar informaçoes de cada pagina*/
.cart{
     background-color: #FFF;
     border-radius: 15px;
     box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
     height: 250px;
     width: 400px;
}
.info{
     display: grid;
     grid-auto-flow: column;
     gap: 45px;
     justify-content: center;
     margin-bottom: 40px;
}
.cart img{
     margin: 5px;
     height: 55px;
}
/*codigo deixando o texto em degrade*/
.cart h2{
     margin-bottom: 10px;
     display: inline-block; 
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     -webkit-text-fill-color: transparent;
}